<section class="searchComp">
  <div class="container">
    <h1 class="title">Seach</h1>
    <div class="search">
      <mat-form-field class="search-form-field" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" [formControl]="TextSearch">
        <button *ngIf="TextSearch.value"  matSuffix mat-icon-button aria-label="Clear" (click)="ClearSeacr()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <p *ngIf="nbOfPosts!=0"><span class="nbofposts">{{nbOfPosts}} posts</span> were found.</p>
    </div>
    <div class="items">
      <div class="item" *ngFor="let item of Posts">
        <h2 class="title" [innerHTML]="item.Title"></h2>
        <p [innerHTML]="item.PostedDate"></p>
        <p class="info" [innerHTML]="item.Info"></p>
      </div>
    </div>
  </div>
</section>